#MariaDB/MySql credentials
DB_NAME=
DB_HOST=
DB_USER=
DB_PASS=

#PHPMail credentials
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=""
MAIL_PORT=
MAIL_ENCRYPTION=

#WebServer socket paramiters
SOCK_HOST=
SOCK_PORT=