#MariaDB/MySql credentials
DB_NAME=
DB_SERVER=
DB_USER=
DB_PASS=

#PHPMail credentials
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_ENCRYPTION=

#WebServer socket paramiters
SOCK_HOSTNAME=
SOCK_ROUTE=/
SOCK_PROTOCOL=
SOCK_PORT=